{% extends "base.html" %}

{% block title %} About {% endblock title %}

{% block body %}

<div class="container-fluid, px-0">
    <div class="jumbotron">
        <h1 class="display-4"><b>Welcoming Customers!</b></h1>
        <h1 class="display-4"><b>Ranikhet’s First Kumauni Ice Cream Parlour</b></h1>
        <h1 class="display-4"><b>Nitin Ice Cream</b></h1>
  <p class="lead"><b>We Nitin Ice Cream believe our customers are God, and we know if our God is happy with us so
      we can sustain in this competitive environment.</b></p>
  <hr class="my-4">
        <h1>What is Nitin Ice Cream?</h1>
  <p>

          “Nitin Ice Cream” is the nickname used to describe the ice cream sold on the streets of Ranikhet,Manila.
           It is best known for being affordable, delicious, and produced using ice, salt, a steel pot, & a sturdy
           pair of hands.

           At Nitin Ice Cream, we seek to capture the simple goodness. We don’t want to simply serve ice cream; we
           want to create a cultural experience. Uttarakhand cuisine is synonymous with a tradition of creating and
           serving food with great love. Like Nanay (Mother) in her kitchen and the ice cream street vendor, We are
           here to carry on that tradition.

      </p>
  <a class="btn btn-primary btn-lg" data-toggle="collapse" href="#target" role="button">Learn more</a>
        <div class="collapse" id="target">
            <h4 class="text-center">Our Story</h4>
            Nitin Ice Cream is an ice cream shop, created as a job opportunity
            for our locals. Now, we are honored to train and employ many other
            amazing people with intellectual and physical exceptionalities.
            The ice cream shop is used to teach social skills, life skills, and
            employment skills for our amazing workers. Every employee goes through
            a certification program to become ICE CREAM EXPERTS!

            In the short time of Nitin Ice Cream's existence, we have
            found our ice cream shop is an innovative way to teach awareness,
            acceptance and the value of diversity; we’ve also found it adds a
            great sense of happiness and satisfaction to our customers.
            Ice cream makes people happy. Ice Cream served by our exceptional
            Ice Cream Experts brings smiles and joy to everyone who visits us!

            Nitin Ice Cream is the perfect way to reward those you
            serve, while investing in the lives of those we serve! Together,
            we can CHANGE THE WORLD ONE ICE CREAM AT A TIME! Contact us now f
            or pricing and let us build the perfect package for you.

            <h5>Thank you,</h5>

            <h5>Nitin Sharma ~ Owner</h5>

        </div>


</div>
</div>

<h2 class="text-center">Our Vision Is Clear To Serve Incredible Ice Creams.</h2>

<div class="container-fluid, mb-2, px-0">

    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="/static/img/4.jpeg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
            <h1><b>A taste of heaven on earth.</b></h1>
            <p><b>It loves you as much as you love it, Real ice cream | Real people.</b></p>
      </div>
    </div>
  </div>
    </div>

</div>

<h4>You can visit us in our fictional branches!</h4>

<p>
    <b>
          Nitin Ice Cream, Apple Garden, Ranikhet Town
          91 Golf Course Road, NW1 8NY, 020 7456 1342
            </b>
</p>
<p>
    <b>

          Nitin Ice Cream, Corbett Area, RamNagar City
          32 Corbett Garjiya Temple, WC2H 7PQ, 020 7426 7944
    </b>
</p>


{% endblock body %}