{% extends "base.html" %}

{% block title %} About {% endblock title %}

{% block body %}

<div class="container-fluid, px-0">
    <div class="jumbotron">
        <h1 class="display-4"><b>Current offer!</b></h1>
        <h1 class="display-4"><b>Ranikhet’s First Kumauni Ice Cream Parlour</b></h1>
        <h1 class="display-4"><b>Nitin Ice Cream</b></h1>
  <p class="lead"><b>Eye catching offer for you only, please have a look once.</b></p>

<h2 class="text-center">Glittering offer | Don't miss it!</h2>

<div class="container-fluid, mb-2, px-0">

    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="/static/img/offer.jpeg" class="d-block w-100" alt="...">
    </div>
  </div>
    </div>

</div>






{% endblock body %}