{% extends "base.html" %}

{% block title %} Services {% endblock title %}

{% block body %}


<div class="container-fluid, px-0">
        <div class="jumbotron">
            <h1 class="display-4"><b>Our service of Family Pack and Shakes!</b></h1>
            <h1 class="display-4"><b>These mania are given below :</b></h1>
            <h1 class="display-4"><b>Nitin Ice Cream</b></h1>
      <p class="lead"><b>My love for ice cream emerged at an early age - and has never left.</b></p>

      <a class="btn btn-primary btn-lg" data-toggle="collapse" href="#target" role="button">Learn more</a>
            <div class="collapse" id="target">
                <h4 class="text-center">Family Pack Description</h4>
                This is related to party pack when we are celebrating something special
                day like birthday, anniversary or any reunion gathering of friends and
                family which brings us together with lots of joy & gossips all around.

                Chit-chat along with Ice Cream could be a great combo since old days
                which recalls everything which we used to do in past time so we always
                welcome to the people which are looking for to do some events and parties
                with loads of Ice Cream, Brownie-Shakes!
            </div>

    </div>
    </div>

<h2 class="text-center">Wide Range Of Family Pack And Shakes</h2>

    <div class="container">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img src="/static/img/Familypack.jpeg">
                <div class="card-body">
                    <p class="card-text"><b>Handi-Mango-Papaya Pack!</b> This handi will have dark gemy custured
                        of organic garden mangoes along with lots of milky cream Ice cream and toppings as pieces of
                        Papaya over it with sprinkle salt.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
<!--                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>-->
<!--                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
                    </div>
<!--                    <small class="text-muted">9 mins</small>-->
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img src="/static/img/Familypack1.jpeg">
                <div class="card-body">
                    <p class="card-text"><b>Gulab-Jamun-Ice Cream Pack!</b> This is something beyond imagination
                        traditional home made Gulab Jamuns coated with Blueberry Ice Cream which gives aroma
                        & tastes when it kiss to tongue.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
<!--                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>-->
<!--                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
                    </div>
<!--                    <small class="text-muted">9 mins</small>-->
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img src="/static/img/Familypack2.jpeg">
                <div class="card-body">
                    <p class="card-text"><b>Bread-Strawberry-Cherry-Pack!</b> This is the pack for perfect tummy full
                    pack with loads of strawberry, cherries, blueberries and Ice cream milky syrup which enhances the
                    taste here over grilled bread.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
<!--                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>-->
<!--                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
                    </div>
<!--                    <small class="text-muted">9 mins</small>-->
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img src="/static/img/Shake.jpeg">
                <div class="card-body">
                  <p class="card-text"><b>Peanut-Butter-MilkyChocolateShake!</b> This product is for sports person
                      generally those put efforts on field and wish to relax body so that's for you
                      , Peanut-Butter-MilkyChocolateShake! Nothing else.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
<!--                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>-->
<!--                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
                    </div>
<!--                    <small class="text-muted">9 mins</small>-->
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img src="/static/img/IcecreamShake.jpeg">
                <div class="card-body">
                    <p class="card-text"><b>Milky-Vanilla-Coconut-Shake!</b> This shake is fully of milk with crushing
                        coconut into it along with some essence of Vanilla which gives different flavour taste to it
                        and some topping with tempting chocolate syrup .</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
<!--                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>-->
<!--                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
                    </div>
<!--                    <small class="text-muted">9 mins</small>-->
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img src="/static/img/softy.jpeg">
                <div class="card-body">
                    <p class="card-text"><b>Softy-Family-Pack!</b> In which we offer three variates of softies like
                        wise butterscotch, strawberry and one and only our all time favourate chocolate soft corn,
                        so this is another mania we have.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
<!--                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>-->
<!--                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
                    </div>
<!--                    <small class="text-muted">9 mins</small>-->
                  </div>
                </div>
              </div>
            </div>


{% endblock body %}