{% extends "base.html" %}

{% block title %} Services {% endblock title %}

{% block body %}


<div class="container-fluid, px-0">
        <div class="jumbotron">
            <h1 class="display-4"><b>Our service of Softy and Brownie!</b></h1>
            <h1 class="display-4"><b>These items are listed below :</b></h1>
            <h1 class="display-4"><b>Nitin Ice Cream</b></h1>
      <p class="lead"><b>It is a grave error to assume that ice cream consumption requires hot weather.</b></p>

      <a class="btn btn-primary btn-lg" data-toggle="collapse" href="#target" role="button">Learn more</a>
            <div class="collapse" id="target">
                <h4 class="text-center">Softy Description</h4>
                It is Sweet Corn season(Sept) in Ranikhet and this year it’s incredible.
                My friend’s family has an organic corn farm and he delivered dozens
                of ears to me, which I have made into corn chowder and this brilliant
                Sweet Corn Ice Cream. The taste of corn can be easily overpowered, so
                keep it simple. Nothing more than a bit of sugar, a touch of honey,
                lots of cream and a dash of vanilla. To get the right consistency I
                make a custard base and add a blob ( technical term ) of cream cheese.
                The most important ingredient is the corn, of course. Pick the sweetest
                corn you can find, and if your friend delivers straight from the farm
                even better. The ice cream is perfect on a cone, covered in caramel
                sauce, sandwiched between cookies or scooped over apple crisp.
            </div>

    </div>
    </div>

<h2 class="text-center">Wide Range Of Softy And Brownie</h2>

    <div class="container">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img src="/static/img/mangosofty.jpeg">
                <div class="card-body">
                    <p class="card-text"><b>Mango Softy Butter Corn!</b> Nevertheless having this one your journey will not complete
                      if you are going back from this Dev Bhumi, So scoops of our own
                      garden organic mangoes along with creamy butter.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
<!--                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>-->
<!--                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
                    </div>
<!--                    <small class="text-muted">9 mins</small>-->
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img src="/static/img/pistasofty.jpeg">
                <div class="card-body">
                    <p class="card-text"><b>Pan-Pista-Rose Soft Corn!</b> Here, we go with delicious softy only
                        for you if you are looking for smell of PAN, ROSE and tastes of PISTA, we provide sccops
                        organic PAN, ROSE and main ingredient PISTA cream.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
<!--                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>-->
<!--                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
                    </div>
<!--                    <small class="text-muted">9 mins</small>-->
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img src="/static/img/strawberrycorn.jpeg">
                <div class="card-body">
                  <p class="card-text"><b>Simple-Sober Strawberry Softy!</b> We know an importance of this eatable
                      since childhood so we have introduced corn for the people which love strawberry, Having
                      said that we represent Strawberry Softy.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
<!--                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>-->
<!--                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
                    </div>
<!--                    <small class="text-muted">9 mins</small>-->
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img src="/static/img/chocolatesofty.jpeg">
                <div class="card-body">
                    <p class="card-text"><b>Butterscotch-Chocolate Softy Corn!</b> Without butter and chocolates we
                        cannot stay so here we go we are presenting one tempting corn, which having sccops of
                        buttery chocolate along with some nuts.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
<!--                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>-->
<!--                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
                    </div>
<!--                    <small class="text-muted">9 mins</small>-->
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img src="/static/img/brownie.jpeg">
                <div class="card-body">
                  <p class="card-text"><b>Hot-Brownie-Chocolate-Ice Cream!</b> People demands for hot brownie nowadays
                      so we have innovated mouth watering brownie of dry fruits coating scoop of creamy-milky-crunchy
                      chocolate Ice Cream.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
<!--                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>-->
<!--                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
                    </div>
<!--                    <small class="text-muted">9 mins</small>-->
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img src="/static/img/brownie1.jpeg">
                <div class="card-body">
                    <p class="card-text"><b>Crystal-Clear-Brownie-Ice Cream!</b> There is nothing surround it but very
                        tasty product with hot clear brownie along with lots of creamy strawberry, milky coconut,
                        and chocolate syrup adds up.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
<!--                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>-->
<!--                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
                    </div>
<!--                    <small class="text-muted">9 mins</small>-->
                  </div>
                </div>
              </div>
            </div>


{% endblock body %}