{% extends "base.html" %}

{% block title %} Services {% endblock title %}

{% block body %}


<div class="container-fluid, px-0">
        <div class="jumbotron">
            <h1 class="display-4"><b>Our service of Ice Cream!</b></h1>
            <h1 class="display-4"><b>These products are following below :</b></h1>
            <h1 class="display-4"><b>Nitin Ice Cream</b></h1>
      <p class="lead"><b>My advice to you is not to inquire why or whither, but just enjoy your ice cream
          while it's on your hand.</b></p>

      <a class="btn btn-primary btn-lg" data-toggle="collapse" href="#target" role="button">Learn more</a>
            <div class="collapse" id="target">
                <h4 class="text-center">Ice Cream Description</h4>
                History: The origins of frozen desserts are unknown, though there of the dessert are
                several often repeated legends.

                Composition: Ice cream is a colloidal emulsion made with water, ice, milk fat, milk
                protein, sugar and air.

                In the sixteenth century, the Persianate Mughal emperors from the Indian subcontinent used
                relays of horsemen to bring ice from the Hindu Kush to Delhi, where it was used in fruit
                sorbets. Qulfi is a popular frozen dairy dessert from the Indian subcontinent and is often
                described as "traditional South Asian ice cream. It originated in the sixteenth century in
                the Mughal Empire and was actually adopted from bastani sonnati, a Persian ice cream.
            </div>

    </div>
    </div>

<h2 class="text-center">Wide Range of Ice Cream</h2>

    <div class="container">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img src="/static/img/icecream_bowl.jpeg">
                <div class="card-body">
                    <p class="card-text"><b>Crunchy Chocolate Balls Ice Cream!</b> With flavoured coated smoothy essence
                      which gives amazing taste to this, and then topping of chocolate syrup over it will take
                      you to the heaven for sure.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
<!--                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>-->
<!--                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
                    </div>
<!--                    <small class="text-muted">9 mins</small>-->
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img src="/static/img/Vanilla.jpeg">
                <div class="card-body">
                    <p class="card-text"><b>Creamy Milk Vanilla Ice Cream!</b> It is for those which really look for
                      items that can touch directly to their throats with cool air, That scoop is of pure
                      milky cream and toppings of custard vanilla.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
<!--                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>-->
<!--                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
                    </div>
<!--                    <small class="text-muted">9 mins</small>-->
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img src="/static/img/icecream_bowl2.jpeg">
                <div class="card-body">
                    <p class="card-text"><b>Bunny-Biscuit Crush Ice Cream!</b> This is the ultimate product for morning time
                  when you wish to crush the crunchy Biscuit-Bunn by teeth and more than we pour
                  creamy syrup of Chocolate over it.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
<!--                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>-->
<!--                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
                    </div>
<!--                    <small class="text-muted">9 mins</small>-->
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img src="/static/img/milky.jpeg">
                <div class="card-body">
                    <p class="card-text"><b>Mama's Traditional Milky Ice Cream!</b> In this we serve full of pure milk of
                      Uttarakhand which is holy land of India along with mixing up some coconut with it
                      which remembers childhood Mother's one.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
<!--                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>-->
<!--                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
                    </div>
<!--                    <small class="text-muted">9 mins</small>-->
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img src="/static/img/childhoodstick.jpeg">
                <div class="card-body">
                    <p class="card-text"><b>Childhood Chuski!</b> Nobody can forget this one as it is one which we used
                      to get at lunch break which was full of Ice in it along with essence of Orange, Coconut
                      & Blueberrys to reduce summer hotness.
                      </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
<!--                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>-->
<!--                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
                    </div>
<!--                    <small class="text-muted">9 mins</small>-->
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img src="/static/img/strawberrystick.jpeg">
                <div class="card-body">
                    <p class="card-text"><b>Rose-Strawberry-Cherry Chuski!</b> There is one which is ultimate for passing
                      to your partner which gives smell of rose and for cherishing Ice Cream we have put some
                      Strawberry and Cherry of home garden.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
<!--                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>-->
<!--                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
                    </div>
<!--                    <small class="text-muted">9 mins</small>-->
                  </div>
                </div>
              </div>
            </div>


{% endblock body %}